@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk&family=Nabla&display=swap') ;



* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bungee Spice", sans-serif; 
    text-align: center;
  }

  body{background-color: black;}

  .title{margin-top: 25px;}

  #bungee-spice-regular {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  #inhalt{font-family: "Bungee Spice", sans-serif ;}
  
